@page
@model PitShop.Pages.Cars.IndexModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Index";
}
@using System.Security.Claims

<h1>Your cars</h1>

<p>
    <a asp-page="Create">Add car</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].ProductionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].EngineCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Fuel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Power)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@{  var userId = UserManager.GetUserId(User);
    foreach (var item in Model.Car) {
        if(item.UserId == userId) {
             <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductionDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EngineCapacity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fuel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Power)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a> |
                        <a asp-page="/Bookings/Create" asp-route-id="@item.Id">Book</a>
                    </td>
                </tr>
        }
          
}}
    </tbody>
</table>
