@page
@model PitShop.Pages.Bookings.IndexModel

@{
    ViewData["Title"] = "Bookings";
}

<h1>Your Bookings</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Car)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Mechanic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Booking) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Car.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mechanic.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> 
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> 
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    @{
                        DateTime now = DateTime.Today;
                        if (item.Date >= now)
                        {
                            <a asp-page="">Review</a> 
                        }
                    }
            </td>
        </tr>
}
    </tbody>
</table>
