@page
@model PitShop.Pages.Bookings.IndexModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Index";
}

<h1>Your Bookings</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Car)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Mechanic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
    var userId = UserManager.GetUserId(User);
    foreach (var item in Model.Booking) {
         if (item.UserId == userId) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Car.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MechanicName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> 
                            <a asp-page="./Details" asp-route-id="@item.Id" asp-route-carName="@item.Car.FullName">Details</a> 
                            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                            @{
                                DateTime today = DateTime.Now;
                                if(item.Date < today) {
                                    <a asp-page="../Reviews/Create" asp-route-mechanicName="@item.MechanicName" asp-route-mechanicTask="@item.Description">Review</a>
                                }
                            }
                        </td>
                    </tr>
         }
    }
}
    </tbody>
</table>
